include README.md
include LICENSE.txt
recursive-include polaroidme/core *
recursive-include polaroidme/filters *
recursive-include polaroidme/helpers *
recursive-include polaroidme/fonts *
recursive-include polaroidme/templates *
#include polaroidme/templates/README
include polaroidme/*conf
include requirements.txt
